@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/**
* GENERAL STYLES
**/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #E6E6E9;
    transition: background-color 0.3s ease-in-out;
}
section {
    position: relative;
    z-index: 1;
}
p {
    font-size: 16px;
    line-height: 1.5;
    color: #242424;
    transition: color 0.3s ease-in-out;
}
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
button, strong[onclick] {
    cursor: pointer;
}
button[type="submit"] {
    width: 100%;
    max-width: 120px;
    font-size: 18px;
    font-weight: 700;
    background-color: #658E9C;
    border: 3px solid #658E9C;
    padding: 8px 24px;
    color: #E6E6E9;
    transition: all 0.3s ease-in-out;
}
button[type="submit"]:hover {
    background-color: transparent;
    border-color: #9999A1;
}
button[type="submit"]:active {
    border-color: #658E9C;
    color: #658E9C;
}
form .form__field {
    margin-bottom: 20px;
}
label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
}
input, textarea {
    width: 100%;
    height: 40px;
    background-color: #242424;
    color: #E6E6E9;
    outline: none;
    border: none;
    border-bottom: 3px solid #9999A1;
    border-radius: 0;
    transition: border-color 0.3s ease-in-out;
}
input:hover, textarea:hover {
    border-color: #E6E6E9;
}
input:focus, textarea:focus {
    border-color: #658E9C;
}
textarea {
    height: 100px;
    resize: vertical;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}
.personal-logo {
    font-size: 24px;
    font-weight: 700;
    color: #242424;
    margin: 0 12px;
    transition: color 0.3s ease-in-out;
}
.title {
    font-size: 120px;
    line-height: 1;
    text-align: left;
    color: #242424;
    margin-bottom: 12px;
    transition: color 0.3s ease-in-out;
}
.section__title {
    font-size: 48px;
    color: #242424;
    margin-bottom: 60px;
    transition: color 0.3s ease-in-out;
}
.link__hover-effect {
    position: relative;
}
.link__hover-effect:after {
    content: '';
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #242424;
    transition: all 0.3s ease;
}
.link__hover-effect--white:after {
    background-color: #E6E6E9;
}
.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}
.text--center {
    text-align: center;
}
.color--primary {
    color: #658E9C;
}
.color--primary--hover {
    color: #486570;
}
.animation--click:hover {
    transform: scale(1.2);
}
.animation--click:active {
    transform: scale(0.8);
}
nav, .scroll, header {
    opacity: 1;
    visibility: visible;
    transition: all 0.6s ease-in-out 0.6s;
}
.modal--open nav, .modal--open .scroll, .modal--open header {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}
.dark-theme {
    background-color: #242424;
}
.dark-theme .personal-logo,
.dark-theme .title,
.dark-theme p,
.dark-theme  nav .nav__list--anchor-link,
.dark-theme .section__title {
    color: #E6E6E9;
}
.dark-theme .link__hover-effect:after {
    background-color: #E6E6E9;
}
.dark-theme nav .nav__list img {
    filter: invert(1);
}
.dark-theme #landing .scroll-icon {
    border-color: #E6E6E9;
}
.dark-theme #landing .scroll-icon:after {
    background-color: #E6E6E9;
}
.dark-theme .modal p {
    color: #242424;
}
.dark-theme .modal__contact p,
.dark-theme .modal__contact p a {
    color: #E6E6E9;
}
.dark-theme footer {
    box-shadow: 0 -10px 80px rgba(0, 0, 0, 0.45);
}


/**
* NAVIGATION BAR
**/
nav {
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
nav .nav__list {
    display: flex;
    gap: 24px;
}
nav .nav__list li {
    list-style: none;
}
nav .nav__list--anchor-link {
    font-size: 16px;
    font-weight: 700;
    color: #242424;
}
nav .nav__list img {
    height: 20px;
    width: auto;
    transition: filter 0.3s ease-in-out;
}


/**
* LANDING
**/
#landing {
    z-index: 2;
    min-height: 100vh;
}
#landing header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}
#landing .title span {
    display: block;
}
#landing header p {
    width: 100%;
    max-width: 550px;
    font-size: 24px;
    line-height: 2;
}
#landing header .social-links {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
}
#landing header .social-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #658E9C;
    border-radius: 50%;
}
#landing header .social-links a:hover {
    background-color: #486570;
}
#landing header .social-links img {
    height: 16px;
    width: auto;
}
#landing .email-button {
    position: fixed;
    bottom: 24px;
    right: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 0;
    background-color: #242424;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.65);
    border: none;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}
#landing .email-button img {
    height: 28px;
    width: auto;
}
#landing .scroll {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 10px);
}
#landing .scroll-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    transition: border-color 0.3s ease-in-out;
}
#landing .scroll-icon:after {
    content: '';
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 2px;
    animation: scrollbar 1s infinite alternate-reverse;
    transition: background-color 0.3s ease-in-out;
}
@keyframes scrollbar {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}


/**
* MODAL
**/
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    display: flex;
    width: 90%;
    max-width: 1000px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    /* opacity: 0; */
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out, z-index 1s ease-in-out, box-shadow 0.5s ease-in-out;
}
.modal--open .modal {
    z-index: 100;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
    /* opacity: 1; */
    visibility: visible;
}
.modal__half {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 40px 72px;
    transition: transform 0.3s ease-in-out;
}
.modal__half h3 {
    font-size: 26px;
}
.modal__half h4 {
    font-size: 14px;
    margin: 12px 0 24px 0;
}
.modal__half p {
    line-height: 1.75;
    margin-bottom: 12px;
}
.modal__about {
    background-color: #E6E6E9;
    transform: translateX(-110%);
}
.modal--open .modal__about {
    transform: translateX(0%);
}
.modal__languages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.modal__languages figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 16px;
    transition: all 0.3s ease-in-out;
}
.modal__languages img {
    width: 100%;
    height: auto;
}
.modal__languages span {
    position: absolute;
    bottom: -10px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}
.modal__languages figure:hover {
    filter: brightness(80%);
    transform: scale(0.9);
}
.modal__languages figure:hover span {
    opacity: 1;
    transform: scale(1);
}
.modal__contact {
    background-color: #242424;
    transform: translateX(110%);
}
.modal--open .modal__contact {
    transform: translateX(0%);
}
.modal__contact * {
    color: #E6E6E9;
}
.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 40px 72px;
    z-index: -1;
}
.modal__overlay--visible {
    z-index: 1;
    display: flex;
}
.modal__overlay--loading {
    background-color: #242424;
}
.modal__overlay--loading img {
    height: 40px;
    width: auto;
    animation: spin 1.25s infinite linear;
}
.modal__overlay--success {
    flex-direction: column;
    align-items: flex-start;
    background-color: #6A92A0;
}
.modal__overlay--success p, .modal__overlay--error p {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}
.modal__overlay--error {
    flex-direction: column;
    align-items: flex-start;
    background-color: #D91E36;
}
.modal__overlay--error a:hover {
    text-decoration: underline;
}
.modal .close {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 10;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.modal .close img {
    height: 20px;
    width: auto;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/**
* PROJECTS
**/
#projects {
    padding: 50px 0 100px;
}
#projects .projects-list li {
    list-style: none;
    margin-bottom: 100px;
}
#projects .projects-list li:last-child {
    margin-bottom: 0;
}
#projects .project__wrapper {
    position: relative;
    display: flex;
    background-color: #fff;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    padding: 40px;
}
#projects .project__wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #242424;
    opacity: 0;
    transition: opacity 0.45s ease;
}
#projects .project__wrapper .project__image {
    width: 100%;
    transition: all 0.5s ease;
}
#projects .project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    right: 90px;
    z-index: 3;
    transform: translateY(-20%);
    max-width: 550px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease;
}
#projects .project__description * {
    color: #fff;
    text-align: left;
}
#projects .project__description h3 {
    font-size: 40px;
}
#projects .project__description p {
    margin: 16px 0;
}
#projects .project__description-links a {
    margin-right: 16px;
    text-decoration: none;
}
#projects .project__description-links a:hover {
    opacity: 0.7;
}
#projects .project__description-links img {
    height: 20px;
}
#projects .project:hover .project__wrapper:before {
    opacity: 0.7;
}
#projects .project:hover .project__wrapper .project__image {
    transform: scale(1.07);
    filter: blur(5px);
}
#projects .project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}


/**
* FOOTER
**/
footer {
    position: relative;
    z-index: 1;
    padding: 8% 0;
    background-color: #242424;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}
footer .personal-logo a span, .footer__social--list a, .footer__copyright {
    color: rgba(255, 255, 255, 1);
}
footer a {
    text-decoration: none;
}
footer .personal-logo {
    margin-bottom: 30px;
}
footer .personal-logo a {
    position: relative;
}
footer .personal-logo .footer__logo--popper {
    position: absolute;
    top: 8px;
    right: 0;
    font-size: 13px;
    font-weight: 700;
    opacity: 0;
    transition: all 0.3s ease;
}
footer .personal-logo a:hover .footer__logo--popper {
    transform: translateX(60px);
    opacity: 1;
}
.footer__social--list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px;
}


/**
* SHAPES
**/
.shapes {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.shape {
    position: absolute;
}
.shape-0 {
    top: 15vh;
    left: 5vw;
}
.shape-1 {
    top: 15vh;
    left: 50vw;
}
.shape-2 {
    top: 15vh;
    left: 80vw;
}
.shape-3 {
    top: 50vh;
    left: 5vw;
}
.shape-4 {
    top: 50vh;
    left: 50vw;
}
.shape-5 {
    top: 50vh;
    left: 80vw;
}
.shape-6 {
    top: 80vh;
    left: 5vw;
}
.shape-7 {
    top: 80vh;
    left: 50vw;
}
.shape-8 {
    top: 80vh;
    left: 80vw;
}


/**
* RESPONSIVE
**/
@media(max-width: 768px) {
    .title {
        font-size: 80px;
    }
    .section__title {
        font-size: 32px;
    }
    p {
        font-size: 14px;
    }
    #landing header p {
        max-width: 500px;
        font-size: 20px;
    }
    .modal {
        top: 20px;
        left: 20px;
        right: 20px;
        /* bottom: 20px; */
        transform: none;
        width: auto;
        max-width: none;
        height: auto;
        flex-direction: column-reverse;
        /* overflow-y: scroll; */
    }
    .modal__half {
        width: 100%;
    }
    #projects .project__description {
        left: 30px;
        right: 30px;
    }
    #projects .project__description h3 {
        font-size: 24px;
    }
    #projects .project__description h4 {
        font-size: 15px;
    }
    #projects .project__description p {
        font-size: 12px;
    }
    #projects .project__description-links img {
        height: 16px;
    }
    .footer__social--list, .footer__copyright {
        font-size: 14px;
    }
    .shapes {
        opacity: 0.3;
    }
}
@media(max-width: 479px) {
    .personal-logo {
        font-size: 18px;
    }
    nav .nav__list li:first-child {
        display: none;
    }
    nav .nav__list--anchor-link {
        font-size: 15px;
    }
    .title {
        font-size: 52px;
    }
    #landing header p {
        font-size: 16px;
    }
    .modal__half {
        padding: 40px;
    }
    #projects .project__description h3, #projects .project__description h4 {
        text-align: center;
    }
    #projects .project__description h4 {
        margin-top: 4px;
        margin-bottom: 16px;
    }
    #projects .project__description p {
        display: none;
    }
    #projects .project__description-links {
        display: flex;
        justify-content: center;
    }
}